body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
}

.navbar {
  background: #e4002b;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  color: #fff;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  background: #e4002b;
  color: #fff;
}


.hero {
  background: url('assets/images/hero.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero h1 { font-size: 50px; }
.hero .btn {
  background: black;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 250px;
}
.card img { width: 100%; border-radius: 10px; }
.price { font-size: 18px; font-weight: bold; color: #e4002b; }
